* {box-sizing: border-box;}
ul {list-style-type: none;}
 body {
   font-family: Verdana, sans-serif;
   background-image:;
   background-repeat: no-repeat;
   background-size: cover;
}
.image{
  width: 60%;
  height: 50%;
}

centering-text{
 text-align: center;
}


nav{
  background: -webkit-linear-gradient(left, rgba(237, 28, 36, 0.6), rgba(237, 28, 36, 0.6), rgba(180, 230, 28, 0.6),rgba(180, 230, 28, 0.6), rgba(180, 230, 28, 0.6), rgba(153, 217, 234, 0.6)
  ,  rgba(153, 217, 234, 0.6),  rgba(153, 217, 234, 0.6),rgba(255, 242, 0, 0.6),  rgba(255, 242, 0, 0.6));
    width: 100%;
}

p a {
    text-decoration: underline;
}

 p a:hover {
    color: #99d9ea;
    text-decoration: underline;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(237, 28, 36, 0.6), rgba(237, 28, 36, 0.6), rgba(180, 230, 28, 0.6),rgba(180, 230, 28, 0.6), rgba(180, 230, 28, 0.6), rgba(153, 217, 234, 0.6)
  ,  rgba(153, 217, 234, 0.6),  rgba(153, 217, 234, 0.6),rgba(255, 242, 0, 0.6),  rgba(255, 242, 0, 0.6));
  color: black;
  text-align: center;
}
